<div class="docs-header">
    <nav class="navbar navbar-expand-md fixed-top ms-0">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <!-- logo -->
            <img src="{{ site.baseurl }}/assets/images/brand/logo/logo.svg" alt="Geeks" />
        </a>

        <div class="mx-auto order-md-2 d-none d-md-block">
            <ul class="navbar-nav">
                {% for item in site.data.navigation.main %}
                <li class="nav-item">
                    <a class="nav-link {% if page.url == item.url %}active{% endif %}"
                        href="{{ site.baseurl }}{{ item.url }}">
                        {{ item.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="ms-auto d-flex align-items-center order-md-3">
            <div class="d-flex align-items-center">
                <a href="https://github.com/jinydev/datas" class="btn btn-outline-dark me-2" target="_blank">GitHub</a>
                <div>
                    <button class="btn btn-icon navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>