<nav class="bd-links w-100" id="bd-docs-nav" aria-label="Docs navigation">
  <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
    <li class="bd-links-group py-2">
      <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
        강의 목차
      </strong>
      <ul class="list-unstyled fw-normal pb-2 small">
        {% for item in site.data.navigation.main %}
        <li>
          <a href="{{ site.baseurl }}{{ item.url }}"
            class="bd-links-link d-inline-block rounded {% if page.url == item.url %}active{% endif %}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>