<aside class="docs-nav-sidebar">
    <div class="py-5"></div>
    <div class="docs-nav">
        <nav class="navbar navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column" id="sidebarnav">
                    <li class="navbar-header mt-4">
                        <h5 class="heading">Lecture Notes</h5>
                    </li>
                    {% for item in site.data.navigation.main %}
                    <li class="nav-item">
                        <a href="{{ site.baseurl }}{{ item.url }}"
                            class="nav-link {% if page.url contains item.url and item.url != '/' %}active{% endif %}{% if page.url == '/' and item.url == '/' %}active{% endif %}">
                            {{ item.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</aside>