*.pdf
*.jpeg

/data2
/파이썬으로_배우는_데이터분석입문

/[(파이썬으로 배우는 데이터분석 입문) 코드와 콘텐츠]
/빅데이터분석기사26

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/

# Ruby
Gemfile.lock
.bundle/

# Logs and System
build_log.txt
.DS_Store
Thumbs.db

# Dependencies
/vendor/
/.bundle/
/.jekyll-cache/